@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <p style="position: absolute;
width: 238px;
height: 72px;
left: 22px;
top: 100px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
">
        Рабочее время : ПН-ПТ
        С 10:00 до 23:00
        Без перерывов
    </p>
    <p style="position: absolute;
width: 283px;
height: 48px;
right: -10px;
top: 100px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px">
        Адреса:
        Г. Абакан ул. Пирятинская, 4
    </p>
</body>
@*<<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@
</html>

